h1{
    background-color: darkgreen;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    border: 1px solid gray;
    margin: 0 auto;
    font-size: 24px;
    width: 100%;
    min-width: 320px;
    height: 100px;
    text-align: center;
}
p{
    margin: 0 auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}
